div{
    border: 1px solid black;
    height: 100px;
}
.container{
    display: flex;
    flex-direction:row;
    height: fit-content;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.item
{
    width:20%;
    text-align: center;
    line-height: 100px;
    font-weight: solid;
    font-size: 24pt;
    flex-grow: 0;
}
